<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    <center>
        <h1 >
            deptemp details
        </h1>
        {% for DO in LDEO %}
            <h1 >{{DO.dname}}</h1>
            {% for EO in DO.emp_set.all %}
                <p>{{EO.ename}}</p>
            {% endfor %}
        {% endfor %}
    </center>
    
</body>
</html>